<div class="main container">
  <div class="titles">
    <h2>My Borrowings</h2>
  </div>
  <% if @items.any? %>
    <% @items.each do |item| %>
    <div class="col-md-4 col-sm-6">
      <div class="item-container">
        <div class="fill">
          <%= image_tag item.image.url(:medium), class: "item" %>
        </div>
        <div class="item-caption">
          <h3><%= item.name %></h3>
          <% if item.request %>
          <p>Have you given this to <%= item.request.user.name %>?</p>
          <%= link_to "Yup, item transferred!", item_path(item), method: :put, class: "btn btn-primary"%>
          <%= link_to "Decline", item_request_path(item, item.request), method: :delete %>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  <% else %>
    <p>You are not currently borrowing anything</p>
  <% end %>
</div>
<footer>
</footer>
