<div class="row">
   <% @items.each do |item| %>
     <div class="col-md-4 col-sm-6">
       <%= image_tag item.image.url(:medium) %>
       <div>
         <h3><%= item.name %></h3>
         <p>currently with <%= item.current_borrower %></p>
         <% if item.request %>
          <%= item.request.user.name %> requested <%= item.name %>
         <% else %>
         <%= link_to "Request #{item.name}", new_item_request_path(item) %>
         <% end %>
       </div>
     </div>
   <% end %>
</div>
