<header>
   <div class="container-fluid organisation-hero">
     <img src="https://pbs.twimg.com/profile_images/3087236754/91e379b7e0006d38ee0526946a38a1ea_400x400.png" class="organisation-logo img-rounded">
   </div>
</header>

<div class="container">
  <div class="titles">
    <h1>Makers library</h1>
    <h4>Request the next thing you want to borrow</h4>
  </div>
 <% @items.each do |item| %>
   <div class="col-md-4 col-sm-6">
     <div class="item-container">
        <div class="fill">
           <%= image_tag item.image.url(:medium), class: "item" %>
         </div>
         <div class="item-caption">
           <h3><%= item.name %></h3>
           <% if current_user %>
             <% if item.request %>
                <p class="pending-request">Request pending</p>
              <% elsif current_user.id == item.user_id %>
                <p class="pending-request">You are borrowing this!</p>
              <% else %>
              <p><%=fa_icon "user"%>  <%=item.current_borrower%></p>
              <%= link_to "Request", new_item_request_path(item), class: "btn btn-primary btn-lg" %>
             <% end %>
           <% else %>
            <p class="pending-request"><%= link_to "Login", new_user_session_path %> to request</p>
           <% end %>
         </div>
     </div>
   </div>
 <% end %>
</div>
<footer>
</footer>
