<div class="row">
   <% @items.each do |item| %>
     <div class="col-md-4 col-sm-6">
       <%= image_tag item.image.url(:medium) %>
       <div>
         <h3><%= item.name %></h3>
         <p>currently with <%= item.current_borrower %></p>
         <a href="#">Request <%= item.name %></a>
         <!-- <% unless item.request.nil? %>
         <p><%= item.request.user.name %></p>
         <% end %> -->
         <!-- <p><%= item.request %></p> -->
       </div>
     </div>
   <% end %>
</div>
